.hex {
    width: 120px;
    /* ширина шестиугольника */
    height: 104px;
    /* высота шестиугольника */
    cursor: pointer;
    position: relative;
}

.hexIn {
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    clip-path: polygon(50% 0%,
            /* верхняя вершина */
            100% 25%,
            /* верхний правый угол — именно 100% по X */
            100% 75%,
            /* нижний правый угол */
            50% 100%,
            /* нижняя вершина */
            0% 75%,
            /* нижний левый угол — именно 0% по X */
            0% 25%
            /* верхний левый угол */
        );
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.hex:hover .hexIn {
    background-color: #115293;
}

.content {
    user-select: none;
    pointer-events: none;
    text-align: center;
    padding: 10px;
}