.container {
    margin-bottom: 10px;
}
.toggleButton {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
    width: 100%;
    min-width: 40px;
}

.toggleButton:hover {
    background-color: #e0e0e0;
}

.list {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.dropdownItem {
    margin: 4px 0;
    cursor: pointer;
}

.close > span {
    display: none;
}